USE [LoveChildren]
GO
/****** Object:  StoredProcedure [dbo].[ChildrenTeachers]    Script Date: 21.2.2025 г. 16:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ChildrenTeachers]
AS
BEGIN
SELECT name_child, name_teacher
FROM Children as ch
JOIN Children_groups as cg
ON ch.id_children=cg.children_id
JOIN Groups as g
ON g.id_group=cg.group_id
JOIN Teachers as t
ON t.id_teacher=g.teacher_id

END